{% extends "layout.html" %}
{% block title %}Тепло{% endblock title %}
{% block homepage %}<li class="nav-item">{% endblock homepage %}
{% block waterpage %}<li class="nav-item">{% endblock waterpage %}
{% block hotwaterpage %}<li class="nav-item">{% endblock hotwaterpage %}
{% block warmpage %}<li class="nav-item active">{% endblock warmpage %}
{% block electricitypage %}<li class="nav-item">{% endblock electricitypage %}
{% block temperaturepage %}<li class="nav-item">{% endblock temperaturepage %}
{% block profilepage %}<li class="nav-item">{% endblock profilepage %}

{% block content %}
{% load static %}
{% if active_manager or user.is_superuser %}


<link rel="stylesheet" type="text/css" href="{% static 'warmtable.css' %}" />

<form name="diagram">
{% for i in cols %}
<input type="hidden" value={{i}} />
{% endfor %}
</form>


<div style="width: 100%; margin-top: 20px;">
<form action="/warm/" method="post" style="background-color: white; width: 30%;  margin: 15px; margin-left:2%; padding: 15px; border: 1px solid black; float:left;">
  {% csrf_token %}
    <p style="font-size: 1.5em; text-align: center;"><b>Введіть дані</b></p>
    <p style="color:red;">{{message}}</p>
    {{ form1.as_p }}
    {% for error in errors %}
    <p style="color:red;">{{error}}</p>
    {% endfor %}
    <center><input type="submit" name="warm" value="Відправити" style="font-size: 1.5em;"/> </center><br>    
</form></div>

<b><p style="text-align: center;">Кількість використаних енергоресурсів за весь період</p></b>
<div style="display:inline; position: absolute;  width: 70%; float: left; ">
<script src="https://d3js.org/d3.v5.min.js"></script>
  <style>
  .bar {
    fill: steelblue;
  }
  .bar:hover {
    fill: rgb(255, 80, 0);
  }

  .x.axis {
    font-size: 12px;
    font-weight: bold;
  }
  .y.axis {
    font-size: 12px;
    font-weight: bold;
  }  
</style>
<script>

  var margin = {top: 5, right: 20, bottom: 200, left: 50},
    width = 800 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;

  var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var x = d3.scaleBand().range([0, width]).padding(0.4);
  var y = d3.scaleLinear().range([height, 0]);

  var xAxis = d3.axisBottom(x).tickSize([]).tickPadding(10);
  var yAxis = d3.axisLeft(y).ticks(10);

  var data = [
    {"building": "Навчальний корпус №1", "value": parseFloat(diagram.elements[0].value)},
    {"building": "Гуртожиток №7", "value": parseFloat(diagram.elements[1].value)},
    {"building": "Гуртожиток №8", "value": parseFloat(diagram.elements[2].value)},
    {"building": "Котельня", "value": parseFloat(diagram.elements[3].value)},
    {"building": "Інститут післядипломної освіти", "value": parseFloat(diagram.elements[4].value)}
  ];

  x.domain(data.map(d => { return d.building; }));
  y.domain([0, d3.max(data, d => { return d.value; })]);

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  svg.selectAll(".bar")
    .data(data)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", d => { return x(d.building); })
    .attr("width", x.bandwidth())
    .attr("y", d => { return y(d.value); })
    .attr("height", d => { return height - y(d.value); });

</script>
</div></div>

<div class="table-container" style="background-color: white;">
<b><p>Теплова енергія споживання, Гкал.</p></b>
<table class = "tableOnew" style="margin-left: 1%;">
    
    <tr>
      <th>Об'єкт</th>
      <th>Навчальний корпус №1</th>
      <th>Гуртожиток №7</th>
      <th>Гуртожиток №8</th>
      <th>Котельня</th>
      <th>Інститут післядипломної<br> освіти</th>
    </tr>
  
    <tr>
      <td>Номер лічильника</td>
      <td>3317</td>
      <td>3873</td>
      <td>3867</td>
      <td>016189</td>
      <td>016504183</td>
    </tr>
    <tr>
      <td>Марка лічильника</td>
      <td>HMB-93.02</td>
      <td>HMB-93.02</td>
      <td>HMB-93.02</td>
      <td>Суперком-01-1 SKS</td>
      <td>INFOKAL5</td>
    </tr>
    <tr>
      <td style="background-color: #DCDCDC; font-weight: bold;">Дата</td>
      <td style="background-color: #DCDCDC;" colspan="5"></td>
    </tr>
    {% for data in datas %}
    <tr>
    {% if data.datemonth == 1 %} <td>січень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 2 %} <td>лютий <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 3 %} <td>березень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 4 %} <td>квітень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 5 %} <td>травень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 6 %} <td>червень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 7 %} <td>липень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 8 %} <td>серпень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 9 %} <td>вересень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 10 %} <td>жовтень <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 11 %} <td>листопад <br> {{data.dateyear}}</td>
    {% elif data.datemonth == 12 %} <td>грудень <br> {{data.dateyear}}</td>
    {% endif %}

    {% if data.ed_building1 == None %} <td></td> {% else %} <td>{{data.ed_building1}}</td> {% endif %}
    {% if data.hostel7 == None %} <td></td> {% else %} <td>{{data.hostel7}}</td> {% endif %}
    {% if data.hostel8 == None %} <td></td> {% else %} <td>{{data.hostel8}}</td> {% endif %}
    {% if data.boiler_house == None %} <td></td> {% else %} <td>{{data.boiler_house}}</td> {% endif %}
    {% if data.institute == None %} <td></td> {% else %} <td>{{data.institute}}</td> {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>

{% else %}
<br><br><p style="color: rgb(255, 80, 0); font-size: 2.5em; text-align: center; background-color: white;">У Вас немає доступу до цієї таблиці</p>
<center><button style="background-color: white;"><a style="color:rgb(0,71,107); font-size: 1.5em;" href="{% url 'home' %}">Повернутися на Головну сторінку</a></button></center>
{% endif %}
{% endblock content %}